.card {
    width: 1000px;
}

main {
    background-image: url('../../assets/img/theme/abstract-painting-close-up-colors-1932264.jpg');
    background-size: 100% 100%;
}

.btn {
    background-color: #ac0700;
    color: white;
}